@import 'https://use.hugeicons.com/font/icons.css';
@import 'https://unpkg.com/lucide@latest';

@import 'tailwindcss';

@import '@osmosjs/osmosis/css/preset.css';
@import '@osmosjs/osmosis/css/themes/adonisjs.css';
