@import '@docsearch/css/dist/style.css';
@import 'unpoly/unpoly.css';
@import './docsearch.css';
@import './shiki.css';

@source "../";

@plugin "@tailwindcss/typography";

:root {
  interpolate-size: allow-keywords;

  --docs-height: 100dvh;
  --docs-header-height: 61px;
}

@theme inline {
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-info: var(--info);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

.docs-grid {
  grid-template:
    'header header header header header'
    'sidebar sidebar toc-popover toc-popover .'
    'sidebar sidebar main toc .' 1fr / minmax(min-content, 1fr) var(--sidebar-col) minmax(
      0,
      calc(var(--layout-width, 97rem) - var(--sidebar-col) - var(--toc-width))
    )
    var(--toc-width) minmax(min-content, 1fr);
}

:where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::before,
:where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::after {
  display: none;
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  padding: 3px;
  font-size: 13px;
  font-weight: 400;
  color: #ebebeb;
  @apply border bg-muted rounded-sm;
}

article#page::before {
  content: '';
  z-index: -1;

  border-color: #6663;

  @apply absolute inset-0 m-4 mb-2 rounded-xl bg-card border shadow-xl hidden md:block;
}

.prose-no-margin > :last-child {
  margin-bottom: 0;
}

.prose-no-margin > :first-child {
  margin-top: 0;
}

.step::before {
  content: counter(step);
  counter-increment: step;
  @apply bg-secondary text-secondary-foreground size-8 rounded-full;
  @apply flex justify-center items-center absolute -start-4;
}

@layer base {
  * {
    @apply border-border;
  }
}

body:has(#sidebar-toggle:checked) nav#sidebar {
  @apply max-md:translate-x-0;
}

body:has(#sidebar-toggle:checked) #sidebar-backdrop {
  @apply block;
}
